{# templates/paragraph--glen-webfom-block.html.twig #}

<section class="glenville-webform-block">
	<div class="container">
		<div class="row" data-aos="fade-up">
			{{ content.field_webform }}
		</div>
	</div>
</section>
